.spanStyle {
	position: absolute;
	text-align: right;
	top: 2px;
	right: 0px;
}

.interest {
	font-size: 1.25em;
	color: red;
}

.addedStyle {
	position: relative;
}

.timeStyle {
	color: #99CCCC;
	position: absolute;
	font-size: 0.90;
	text-align: right;
	right: 0px;
	bottom: 2px;
}