body {
	background: url('../img/bkground.jpg') no-repeat center center fixed;
	background-size: cover;
	color: black;
	font-family: 'Indie Flower', cursive;
}
.container-fluid {
	margin: 0px;
	padding: 0px;
}

.navbar-default .navbar-nav>li>a {
	color: #C2185B;
	font-size: 1.20em;
}

.blogPostStyle {
		padding: 10px 40px;
		border: 4px ridge #D1C4E9; 
		border-radius: 15px;
		opacity: inherit;
	}
.post {
		width: 100%;
		background-color: #9C27B0;
		color: white;
		border: 1px #673AB7 solid;
		padding: 5px;
		margin-bottom: 25px;
		border-radius: 10px;
		opacity: 0.85;
	}

.form {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.form-group {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	position: relative;
}

.form-group>button {
	margin-bottom: 10px auto;
}
.navbar-custom {
	padding-top: 10px;
	padding-bottom: 10px;
	height: 80px;
	width: 100%;
	border: none;
	margin-left: auto;
	margin-right: auto;
	background: none;
	position: fixed;
	z-index: 1030;
}
a {
	color: white;
}

.content {
	margin-top: 100px;
	margin: 100px 100px 0px 100px;
	border-radius: 15px;
	background-color: #64DD17;
	opacity: 0.8;
}

#welcomeSign {
	width: 200px;
	margin-right: auto;
	margin-left: auto;
	color: #64DD17;
	font-size: 1.10em;
}

