.navbar-top {
	background-color: #3A0F0F;
	height: auto;
	position: fixed;
	width: 100%;
	padding: 2px;
	top: 0px;
	z-index: 2;
}
body {
	color: #FFF3E0;
  	font-weight: 700;
}

a,
a:linked {
	color: #00C853;
}

a:visited {
	color: #00796B;
}
.container-fluid-custom {
	max-width: 100%;
	max-height: 100%;
	background: url('/img/blog_background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.dropMenu {
	background: none;
	color: white;
}
#footer-div {
	padding-top: 200px;
	font-size: 0.65em;
	color: inherit;
	background: transparent;
}

.progress {
	font-weight: 500;
	opacity: 0.9;
}

.contentdiv {
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
	background-color: rgba(141,110,99,0.8);
	border-radius: 3px;
	padding: 5px 10px;
	color: #006064;
}
.resumeSection {
	padding: 5px;
	margin-bottom: 15px;
	background-color: rgba(255,224,178,0.6);
	border-radius: 3px;
}

.contentdiv>h1 {
	color: #FFF;
	text-align: center;
}

.resumeSection>h2 {
	color: #651FFF;
}
.right {
	float: right;	
}

.list-inline {
	display: inline;
}
