.navbar-top {
	background-color: none;
	height: auto;
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 2;
	padding-left: 10px;
	padding-right: 10px;
}
body {
	color: #FFE082;
  	font-weight: 700;
  	background: url('/img/master/master_background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a,
a:linked {
	color: #E1BEE7;
}

a:visited {
	color: #BA68C8;
}
.container-fluid-custom {
	max-width: 100%;
	max-height: 100%;
	padding-left: 10px;
	padding-right: 10px;
}

.btn-link {
	background: #000;
	margin: 5px;
	border-radius: 5px;
	border: solid #FFF 1px;
}
#footer-div {
	padding-top: 200px;
	font-size: 0.65em;
	color: inherit;
	background: transparent;
}
.form-control {
	margin-bottom: 10px;
}
.list-inline>li {
	padding:0 !important;
}
.progress {
	font-weight: 500;
	opacity: 0.9;
}

.contentdiv {
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
	background-color: none;
	border-radius: 3px;
	padding: 5px 10px;
}
.resumeSection {
	padding: 5px;
	margin-bottom: 15px;
	background-color: none;
	border-radius: 3px;
}

.contentdiv>h1 {
	color: #FFF;
	text-align: center;
}

.resumeSection>h2 {
	color: #64FFDA;
}
.right {
	float: right;	
}

.list-inline {
	display: inline;
}
