body {
	background-color: #ECEFF1;
	color: gray;
}
.container-fluid {
	margin: 0px;
	padding: 0px;
}

.navbar-custom {
	padding-top: 10px;
	padding-bottom: 10px;
	height: 80px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background: none;
	position: fixed;
	z-index: 1030;
}
a:link {
	color: #FFEA00;
}
a:visited {
	color: #FFEA00;
}
a:hover {
	color: #FFC400;
}
a:active {
	color: #FFEA00;
}
.content {
	margin-top: 100px;
}

