.webBox::first-child {
	position: relative;
	float: left;
	width: 100%;
	margin: 1%;
	display: inline-block;
}

#heading {
	margin-bottom: 20px;
}
.webBox>* {
	clear: both;
}

.extraspace {
	padding-bottom: 15px;
	border-bottom: 3px solid gray;
	margin-bottom: 20px;
}

.resizeImg {
	width: 450px;
	height: 350px;
}