
body {
	padding: 30px;
	background: url('../img/boondock_home.jpg') no-repeat center center fixed;
	background-size: cover;
	font-size: 1.25em;
}
#box-container {
	opacity: 0.90;
	width: 90%;
	height: 80vh;
	margin-left: auto;
	margin-right: auto;
}
.box-size {
	width: 30%;
	height: 30%;
	float: left;
	clear: right;
	}
.form{
	margin-right: auto;
	margin-left: auto;
	width: 400px;

}
.footer {
	padding: 15px;
	visibility: hidden;
	width: 100%;
	height: 20vh;
}
.footer>h3 {
	text-align: center;
	color:white;
}

#table {
	display:default;
	position: relative;
	font-size: 1.25em;
	float: right;	
	
}
td, th{
	border: solid black 1px;
}

#score {
	color: #000;
	font-size: 1.5em;
	position: absolute;
	top:60px;
	left: 60px;
}
#timer {
	width:200px;
	height: 30px;
	position: absolute;
	vertical-align: middle;
	top:60px;
	right: 20px;
	color: red;
	font-size: 1.5em;
	text-align: center;
	border: red solid 3px;
}